
<div class="clearfix">
  <%= f.label :name, t("activerecord.attributes.budget.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
  <%= link_to "Cancel", budgets_path %>
</div>
