<tr>
  <td><%= f.text_field :name, placeholder: 'Name' %></td>
  <td><%= f.text_field :money_amount, placeholder: 'Money amount' %></td>
  <td><%= f.text_field :priority, class: 'number_field', placeholder: 'Priority' %></td>
  <td>&nbsp;</td>
</tr>
