<h1>Items of budget <%= link_to @budget, budget_path(@budget) %></h1>
<table class="table table-striped">
  <%= render :partial => 'item_header' %>
  <tbody>
  <%= render @items %>
  </tbody>
</table>

<%= link_to "New", new_budget_item_path, :class => 'btn btn-primary' %>
