<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= current_user %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="<%= account_path %>">Modify account</a></li>
    <li><a href="<%= destroy_user_session_path %>">Sign out</a></li>
  </ul>
</li>
